<div class="bkn-header-container">
    <div class="bkn-header">
        <div class="bkn-header-left">
            <button *ngIf="showBackButton" (click)="regresar()" class="bkn-button-header">
                <img src="../../../assets/images/arrow.png">
            </button>
        </div>
        <div class="bkn-header-main">
            <p class="bkn-app-name">Sistema web de reservas</p>
        </div>
        <div class="bkn-header-right">
            <button class="bkn-button-header">
                <img src="../../../assets/images/messenger.png">
            </button>
            <button class="bkn-button-header">
                <img src="../../../assets/images/bell.png">
            </button>
        </div>
    </div>
</div>