<div class="bkn-main-container">
    <app-toolbar [allowSave]="validator.valid" [allowDelete]="isEditingMode" (onToolbarClick)="onToolbarClick($event, ModalDelete)"></app-toolbar>
    <div class="bkn-table-container">
        <div class="mat-elevation-z8">
            <div *ngIf="isLoading" class="bkn-spinner">
              <mat-spinner></mat-spinner>
            </div> 
            <div class="bkn-form-container">
                <p class="bkn-form-tittle"></p>
                <form [formGroup]="validator" class="form-floating">
                  <div class="row g-2 mb-3">
                    <div class="col-md-2">
                      <div class="form-floating">
                        <input formControlName="Id" type="text" class="form-control" id="floatingInputGrid" placeholder="1" readonly>
                        <label for="floatingInputGrid">Id</label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-floating">
                        <input formControlName="Name" type="text" class="form-control" id="floatingInputGrid" placeholder="groupexample"
                        [ngClass]="(validator.controls['Name'].touched || validator.controls['Name'].dirty) && validator.controls['Name'].errors ? 'is-invalid' : '' ">
                        <label for="floatingInputGrid">Nombre del flujo</label>
                        <div class="invalid-feedback">
                          <div *ngIf="validator.controls['Name'].errors?.['required']">
                            El campo es requerido
                          </div>
                          <div *ngIf="validator.controls['Name'].errors?.['maxlength']">
                            El campo no debe tener más de 30 caracteres
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3" style="display: flex; align-items: center;">
                      <div class="form-check form-switch">
                        <input formControlName="HasPreviousFlow" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Tiene proceso anterior</label>
                      </div>
                    </div>
                  </div>
                  <div class="row g-2 mb-3">
                    <div class="col-md-6">
                      <div class="form-floating">
                          <select formControlName="FlowId" class="form-select" id="floatingSelectGrid"
                            [ngClass]="(validator.controls['FlowId'].touched || validator.controls['FlowId'].dirty) && validator.controls['FlowId'].errors ? 'is-invalid' : '' ">
                            <option *ngIf="!isEditingMode" selected>Seleccione una opción</option>
                            <option *ngFor="let flow of listFlows" [value]="flow.Id" >{{ flow.Name }}</option>
                          </select>
                          <label for="floatingSelectGrid">Flujo anterior</label>
                          <div class="invalid-feedback">
                              El campo es requerido
                          </div>
                      </div> 
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating">
                        <select formControlName="UserId" class="form-select" id="floatingSelectGrid"
                          [ngClass]="(validator.controls['UserId'].touched || validator.controls['UserId'].dirty) && validator.controls['UserId'].errors ? 'is-invalid' : '' ">
                          <option *ngIf="!isEditingMode" selected>Seleccione una opción</option>
                          <option *ngFor="let user of listUsers" [value]="user.Id" >{{ user.UserName }}</option>
                        </select>
                        <label for="floatingSelectGrid">Usuario</label>
                        <div class="invalid-feedback">
                            El campo es requerido
                        </div>
                    </div> 
                </div>
                  </div>
                  <!-- <div class="row g-2 mb-5">
                    <div class="col-md-5">
                      <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid">
                          <option selected>Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <label for="floatingSelectGrid">Grupo de usuario</label>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="row flex-row-reverse">
                    <div class="col-md-2 d-flex justify-content-center">
                      <button class="btn btn-primary p-2 m-1 bkn-button-form">Guardar</button>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                      <button class="btn btn-secondary p-2 m-1 bkn-button-form">Cancelar</button>
                    </div>
                  </div> -->        
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #ModalDelete>
    <h1 mat-dialog-title>Eliminar</h1>
    <div mat-dialog-content> ¿Desea eliminar el registro?
    </div>
    <div class="bkn-button-modal-container">
        <button class="bkn-button-modal" mat-dialog-close>No</button>
        <button class="bkn-button-modal" (click)="delete()">Si</button>
    </div>
</ng-template>